name: ci

on:
  push: { branches: [main] }
  pull_request: { branches: [main] }

jobs:
  tests_common:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@v5
        with: { node-version: lts/*, cache: pnpm }
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build
      - run: pnpm test:types
  tests_node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
    steps:
      - uses: actions/checkout@v5
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@v5
        with: { node-version: "${{ matrix.node-version }}", cache: pnpm }
      - run: pnpm install
      - run: pnpm vitest --coverage test/node.test.ts test/node-adapters.test.ts test/url.test.ts
      - uses: codecov/codecov-action@v3
        if: matrix.node-version == 24
        with:
          token: "${{ secrets.CODECOV_TOKEN }}"
  tests_deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@v5
        with: { node-version: lts/*, cache: pnpm }
      - uses: denoland/setup-deno@v2
      - run: pnpm install
      - run: pnpm vitest --coverage test/deno.test.ts test/url.test.ts
      - run: deno run test:node-compat:deno
  tests_bun:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@v5
        with: { node-version: lts/*, cache: pnpm }
      - uses: oven-sh/setup-bun@v2
      - run: pnpm install
      - run: pnpm vitest --coverage test/bun.test.ts test/url.test.ts
      - run: bun run test:node-compat:bun
  publish:
    runs-on: ubuntu-latest
    permissions: { id-token: write, contents: read }
    needs: [tests_common, tests_node, tests_deno, tests_bun]
    if: contains('refs/heads/main', github.ref) && github.event_name == 'push'
    steps:
      - uses: actions/checkout@v5
        with: { fetch-depth: 0 }
      - run: npm i -fg corepack && corepack enable
      - uses: actions/setup-node@v5
        with: { node-version: lts/*, cache: "pnpm" }
      - run: pnpm install
      - run: pnpm changelogen --bump --canary nightly
      - run: npm i -g npm@latest && npm publish --tag latest
  publish-pkg-pr-new:
    runs-on: ubuntu-latest
    needs: [tests_common, tests_node, tests_deno, tests_bun]
    steps:
      - uses: actions/checkout@v5
        with: { fetch-depth: 0 }
      - run: npm i -fg corepack && corepack enable
      - uses: actions/setup-node@v6
        with: { node-version: lts/*, cache: "pnpm" }
      - run: pnpm install
      - run: pnpm build
      - run: pnpm dlx pkg-pr-new publish || true
